<footer class="bg-primary text-light py-3 mt-auto footer-t">
    <div class="container navbar-dark">
        <div class="row">
            <div class="col text-start"> 
                <p>Powered by Django</p>
            </div>
            <div class="col text-end">
                <p>Made By:
                    <a style="color:white; text-decoration:none;" target="blank" href="https://github.com/Beker-Dev/desafio-catalogo-ofertas">
                        Joao Pedro Beker
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        position: absolute !important;
        bottom: 0;
        width: 100%;
    }
</style>
